.root {
  height: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  background-attachment: fixed;
  background-size: cover;
}

.booksWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
  width: calc(var(--vw, 1vw) * 90);
  margin: auto;
  margin-top: 50px;
}

.cover {
  object-fit: "cover";
  cursor: pointer;
}

@media only screen and (max-device-width: 481px) {
  .booksWrapper {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
  }
  .cover {
    width: 170px;
  }
}
